<div class="animated fadeIn">


  <div class="row">
    <div class="col-lg-12">
      <div class="card text-white bg-primary">
        <div class="card-header">
          <img src="assets/accenture-logo.png" width="30" height="30" />  
          <b class="fa fa-align-justify">Sport Popup Demo App</b> 
          <a class="btn btn-link text-white" href="mailto:alvin.zhu@accenture.com">alvin.zhu@accenture.com</a>
        </div>
        <div class="card-body">
          <!-- Button trigger modal -->
          <div class="row">
              <div class="col-sm-6">
                  <img src="assets/reddit_icon.png" width="30" height="30" />
              </div>

          </div>


          <p align="justify">
          The Sport Popup Demo is a mini app (Angular 5 / CoreUi) within a popup (Dialog) implementing the service - consumer data flow; 
          it would call the Reddit service, retrieve sports news data, and render it as a item list for selecting; after the user selecting 
          the sport news item, the page focus would come back to the home page with the selected sport news data, and render the page with the data details.
          </p>
          <hr>

          <div class="center_button">
              <button type="button" class="btn btn-info" data-toggle="modal" (click)="openModal(popup_sport)">
                  Get Sport News
              </button>
          </div>

        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

  <div class="row" *ngIf="sport">
    <div class="col-lg-12">
      <div class="card text-white bg-gray-400 text-center">
        <div class="card-header text-white bg-gray-500">
          <img src="assets/sport-icon.png" width="30" height="30" /> 
          <b class="fa fa-align-justify">{{sport.data.title}}</b> 
        </div>
        <div class="card-body">

          <div *ngIf="video_url;then show_video else show_thumbnail"></div>

          <ng-template #show_video >
            <!--
            <iframe [src]='photoURL()' width="80%" class="video-center"  frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen>
            </iframe>  
            -->
            <iframe [src]='photoURL()' width="80%" height="300" class="video-center"  frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen>
            </iframe>                   
          </ng-template>
          <ng-template #show_thumbnail >
            <!--
            <img src="{{sport.data.thumbnail}}" class="video-center" width="80%" height="240" />
            -->
            <img src="{{sport.data.thumbnail}}" class="video-center" width="80%"  />
          </ng-template>

          <hr>

          <div class="center_button">
              <a class="btn btn-danger" target="_blank" href="http://reddit.com/{{sport.data.permalink}}">View On Reddit</a>
          </div>

        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

</div>


<ng-template #popup_sport>
        <div class="modal-header text-white bg-primary">
          <h4 class="modal-title">Reddit Sport News</h4>
          <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Sport
            </div>
            <div class="card-body">
              <table class="table table-striped">
                <tbody>
                  <tr *ngFor="let item of items" class="table-row" (click)="onRowClicked(item)" >
                    <td>
                        <img src="{{item.data.thumbnail ? item.data.thumbnail : '../img/image_not_found.jpg' }}" width="60" height="40" />  
                    </td>
                    <td>
                      {{item.data.title}}
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
        </div>
</ng-template>

